.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.message {
  margin-top: 1rem;
  text-align: center;
}

.message > h3,
.message > p {
  color: var(--gray-300);
  line-height: 1.4;
}
