.container {}


.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.addTaskForm {
  display: flex;
  gap: 0.5rem;

  height: 3.375rem;
}

.taskInput {
  flex: 1;
  background-color: var(--gray-500);
  border: 0;
  border-radius: 8px;
  font-size: 0.875rem;
  padding: 1rem;
  color: var(--gray-100);
  line-height: 1.4;
}

.taskInput:placeholder {
  color: var(--gray-300);
}

.addTaskForm > button[type=submit] {
  background-color: var(--blue-400);
  border: 0;
  border-radius: 8px;
  color: var(--gray-100);
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
  line-height: 1.4;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  transition: background-color .1s;
}

.addTaskForm > button[type=submit]:hover {
  background-color: var(--blue-300);
}

